# Import

In [1]:
import pandas as pd

In [1]:
import pandas as pd
import os

# data 폴더 내의 모든 CSV 파일 목록 가져오기
data_folder = '../asesets/data'
csv_files = [f for f in os.listdir(data_folder) if f.endswith('.csv')]

# 데이터프레임을 저장할 딕셔너리
dataframes = {}

# 각 CSV 파일을 개별적으로 데이터프레임으로 불러오기
for csv_file in csv_files:
    # 파일 이름에서 확장자 제거
    df_name = os.path.splitext(csv_file)[0]
    
    # CSV 파일 경로
    file_path = os.path.join(data_folder, csv_file)
    
    # 데이터프레임 생성 및 딕셔너리에 추가
    dataframes[df_name] = pd.read_csv(file_path)
    
    print(f"'{csv_file}'을(를) '{df_name}' 데이터프레임으로 불러왔습니다.")

# 불러온 데이터프레임 확인
print("\n불러온 데이터프레임 목록:")
for df_name, df in dataframes.items():
    print(f"- {df_name}: shape {df.shape}")

# # 예시: 첫 번째 데이터프레임의 처음 5행 출력
# if dataframes:
#     first_df_name = next(iter(dataframes))
#     print(f"\n{first_df_name}의 처음 5행:")
#     print(dataframes[first_df_name].head())

# 각 데이터프레임을 전역 변수로 설정
for df_name, df in dataframes.items():
    globals()[df_name] = df

'online_Wkly.HZ.csv'을(를) 'online_Wkly.HZ' 데이터프레임으로 불러왔습니다.
'online_Wkly.HG.csv'을(를) 'online_Wkly.HG' 데이터프레임으로 불러왔습니다.
'offline_offline_wkly_Hazzys_sales.csv'을(를) 'offline_offline_wkly_Hazzys_sales' 데이터프레임으로 불러왔습니다.
'online_Wkly.HY.csv'을(를) 'online_Wkly.HY' 데이터프레임으로 불러왔습니다.
'online_Wkly.HS.csv'을(를) 'online_Wkly.HS' 데이터프레임으로 불러왔습니다.

불러온 데이터프레임 목록:
- online_Wkly.HZ: shape (2927, 10)
- online_Wkly.HG: shape (2906, 10)
- offline_offline_wkly_Hazzys_sales: shape (173407, 26)
- online_Wkly.HY: shape (2882, 10)
- online_Wkly.HS: shape (2890, 10)

# Each Dataset Overview

### 온라인

In [8]:
# 헤지스 골프
# 2019년부터 2023년까지의 온라인 매출 데이터
online_Wkly_HG = pd.read_csv('../assets/data/online_Wkly.HG.csv')
online_Wkly_HG

,Wk_Year,Channel,Channel2,LF_Mall,Normal.Rollover.Class,Rep.brands,Brand_name,Sales.w.Price,Sales.Actual,Qty
0,201901,LF몰_모바일,LF_Mall,1.0,이월,HG,헤지스골프,15878.163636,7666.564545,881.0
1,201901,LF몰_모바일,LF_Mall,1.0,정상,HG,헤지스골프,15023.181818,9442.757273,1050.0
2,201901,LF몰_웹,LF_Mall,1.0,이월,HG,헤지스골프,2065.818182,1045.940909,158.0
3,201901,LF몰_웹,LF_Mall,1.0,정상,HG,헤지스골프,2411.727273,1493.518182,153.0
4,201901,LF몰스토어,LF_Mall,1.0,이월,HG,헤지스골프,130.909091,69.305964,5.0
...,...,...,...,...,...,...,...,...,...,...
2901,202352,백화점-온라인,Dep.Store,0.0,정상,HG,헤지스골프,1928.090909,1700.040909,90.0
2902,202352,브랜드몰,Others,0.0,이월,HG,헤지스골프,2328.363636,1237.931818,125.0
2903,202352,브랜드몰,Others,0.0,정상,HG,헤지스골프,1719.545455,1142.096364,82.0
2904,202352,제휴몰,Affiliated,0.0,이월,HG,헤지스골프,7166.818182,4572.534545,403.0
2905,202352,제휴몰,Affiliated,0.0,정상,HG,헤지스골프,881.272727,741.350000,55.0

In [11]:
# 헤지스 여성
# 2019년부터 2023년까지의 온라인 매출 데이터
online_Wkly_HS = pd.read_csv('../assets/data/online_Wkly.HS.csv')
online_Wkly_HS

,Wk_Year,Channel,Channel2,LF_Mall,Normal.Rollover.Class,Rep.brands,Brand_name,Sales.w.Price,Sales.Actual,Qty
0,201901,LF몰_모바일,LF_Mall,1.0,이월,HS,헤지스여성,15794.427273,8104.679091,738.0
1,201901,LF몰_모바일,LF_Mall,1.0,정상,HS,헤지스여성,193350.545455,119439.843636,6995.0
2,201901,LF몰_웹,LF_Mall,1.0,이월,HS,헤지스여성,2475.890909,1356.216364,109.0
3,201901,LF몰_웹,LF_Mall,1.0,정상,HS,헤지스여성,41916.409091,25968.239091,1599.0
4,201901,LF몰스토어,LF_Mall,1.0,이월,HS,헤지스여성,754.045455,455.565700,21.0
...,...,...,...,...,...,...,...,...,...,...
2885,202352,백화점-온라인,Dep.Store,0.0,정상,HS,헤지스여성,10021.545455,8786.463636,316.0
2886,202352,브랜드몰,Others,0.0,이월,HS,헤지스여성,397.454545,225.710000,26.0
2887,202352,브랜드몰,Others,0.0,정상,HS,헤지스여성,3778.090909,2602.604545,130.0
2888,202352,제휴몰,Affiliated,0.0,이월,HS,헤지스여성,10549.000000,6852.208455,449.0
2889,202352,제휴몰,Affiliated,0.0,정상,HS,헤지스여성,7236.000000,5730.788091,258.0

In [12]:
# 헤지스 ACC
# 2019년부터 2023년까지의 온라인 매출 데이터
online_Wkly_HY = pd.read_csv('../assets/data/online_Wkly.HY.csv')
online_Wkly_HY

,Wk_Year,Channel,Channel2,LF_Mall,Normal.Rollover.Class,Rep.brands,Brand_name,Sales.w.Price,Sales.Actual,Qty
0,201901,LF몰_모바일,LF_Mall,1.0,이월,HY,헤지스ACC,10325.000000,4495.418182,683.0
1,201901,LF몰_모바일,LF_Mall,1.0,정상,HY,헤지스ACC,9612.818182,6515.017273,1228.0
2,201901,LF몰_웹,LF_Mall,1.0,이월,HY,헤지스ACC,2124.363636,922.008182,139.0
3,201901,LF몰_웹,LF_Mall,1.0,정상,HY,헤지스ACC,2081.454545,1426.142727,267.0
4,201901,LF몰스토어,LF_Mall,1.0,이월,HY,헤지스ACC,284.909091,168.139836,18.0
...,...,...,...,...,...,...,...,...,...,...
2877,202352,백화점-온라인,Dep.Store,0.0,정상,HY,헤지스ACC,32211.363636,26025.269091,3230.0
2878,202352,브랜드몰,Others,0.0,이월,HY,헤지스ACC,1303.181818,714.564545,102.0
2879,202352,브랜드몰,Others,0.0,정상,HY,헤지스ACC,4518.090909,3232.197273,420.0
2880,202352,제휴몰,Affiliated,0.0,이월,HY,헤지스ACC,9849.090909,6357.922364,615.0
2881,202352,제휴몰,Affiliated,0.0,정상,HY,헤지스ACC,6982.000000,6122.941091,879.0

In [13]:
# 헤지스 남성
# 2019년부터 2023년까지의 온라인 매출 데이터
online_Wkly_HZ = pd.read_csv('../assets/data/online_Wkly.HZ.csv')
online_Wkly_HZ

,Wk_Year,Channel,Channel2,LF_Mall,Normal.Rollover.Class,Rep.brands,Brand_name,Sales.w.Price,Sales.Actual,Qty
0,201901,LF몰_모바일,LF_Mall,1.0,이월,HZ,헤지스남성,17023.545455,8857.442545,1030.0
1,201901,LF몰_모바일,LF_Mall,1.0,정상,HZ,헤지스남성,116179.090909,73815.930000,6120.0
2,201901,LF몰_웹,LF_Mall,1.0,이월,HZ,헤지스남성,4500.545455,2430.140909,266.0
3,201901,LF몰_웹,LF_Mall,1.0,정상,HZ,헤지스남성,29033.727273,18597.447273,1477.0
4,201901,LF몰스토어,LF_Mall,1.0,이월,HZ,헤지스남성,925.636364,592.925073,38.0
...,...,...,...,...,...,...,...,...,...,...
2922,202352,백화점-온라인,Dep.Store,0.0,정상,HZ,헤지스남성,3474.090909,2587.698182,208.0
2923,202352,브랜드몰,Others,0.0,이월,HZ,헤지스남성,1265.000000,741.077273,68.0
2924,202352,브랜드몰,Others,0.0,정상,HZ,헤지스남성,6247.727273,4146.690909,238.0
2925,202352,제휴몰,Affiliated,0.0,이월,HZ,헤지스남성,22893.363636,14240.714727,1081.0
2926,202352,제휴몰,Affiliated,0.0,정상,HZ,헤지스남성,11628.090909,9026.923182,493.0

In [14]:
online_Wkly_HZ.columns

Index(['Wk_Year', 'Channel', 'Channel2', 'LF_Mall', 'Normal.Rollover.Class',
       'Rep.brands', 'Brand_name', 'Sales.w.Price', 'Sales.Actual', 'Qty'],
      dtype='object')

In [25]:
online_column_info = {
    'Wk_Year': '연도와 주차를 나타내는 칼럼으로, 예를 들어 "201901"은 2019년 1주차를 의미합니다.',
    'Channel': '판매 채널을 나타내는 칼럼으로, 예를 들어 "LF몰_모바일"은 LF몰의 모바일 채널을 의미합니다.',
    'Channel2': '판매 채널을 세분화한 칼럼으로, 주로 LF_Mall처럼 특정 사이트 또는 서비스의 이름이 들어갑니다.',
    'LF_Mall': '해당 판매가 LF몰을 통해 이루어졌음을 나타내는 플래그 칼럼으로, "1.0"은 LF몰 판매를 의미합니다.',
    'Normal.Rollover.Class': '제품의 상태를 나타내는 칼럼으로, "정상"은 정상 제품, "이월"은 이월 제품을 의미합니다.',
    'Rep.brands': '대표 브랜드를 나타내는 칼럼으로, 예를 들어 "HZ"는 헤지스 브랜드를 의미합니다.',
    'Brand_name': '브랜드 이름을 나타내는 칼럼으로, 예를 들어 "헤지스남성"은 헤지스의 남성 라인을 의미합니다.',
    'Sales.w.Price': '가격 할인을 적용하기 전의 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.',
    'Sales.Actual': '할인을 적용한 실제 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.',
    'Qty': '판매된 제품의 수량을 나타내는 칼럼으로, 예를 들어 "1030.0"은 1030개의 제품이 판매되었음을 의미합니다.'
}

for idx, key in enumerate(online_column_info):
  print(f"{key}: {online_column_info[key]}")

Wk_Year: 연도와 주차를 나타내는 칼럼으로, 예를 들어 "201901"은 2019년 1주차를 의미합니다.
Channel: 판매 채널을 나타내는 칼럼으로, 예를 들어 "LF몰_모바일"은 LF몰의 모바일 채널을 의미합니다.
Channel2: 판매 채널을 세분화한 칼럼으로, 주로 LF_Mall처럼 특정 사이트 또는 서비스의 이름이 들어갑니다.
LF_Mall: 해당 판매가 LF몰을 통해 이루어졌음을 나타내는 플래그 칼럼으로, "1.0"은 LF몰 판매를 의미합니다.
Normal.Rollover.Class: 제품의 상태를 나타내는 칼럼으로, "정상"은 정상 제품, "이월"은 이월 제품을 의미합니다.
Rep.brands: 대표 브랜드를 나타내는 칼럼으로, 예를 들어 "HZ"는 헤지스 브랜드를 의미합니다.
Brand_name: 브랜드 이름을 나타내는 칼럼으로, 예를 들어 "헤지스남성"은 헤지스의 남성 라인을 의미합니다.
Sales.w.Price: 가격 할인을 적용하기 전의 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.
Sales.Actual: 할인을 적용한 실제 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.
Qty: 판매된 제품의 수량을 나타내는 칼럼으로, 예를 들어 "1030.0"은 1030개의 제품이 판매되었음을 의미합니다.

### 오프라인

In [6]:
offline_sales = pd.read_csv('../assets/data/offline_offline_wkly_Hazzys_sales.csv')

In [7]:
import pandas as pd

# 데이터프레임 로드
offline_sales = pd.read_csv('../assets/data/offline_offline_wkly_Hazzys_sales.csv')

# 오프라인 스토어별 개장일(Open_Store_Week0)과 폐업일(Close_Store_Week0)을 추출하여 새로운 데이터프레임 생성
offline_store_info = offline_sales[['Off.Store.Code', 'Off.Store.Name2', 'Open_Store_Week0', 'Close_Store_Week0']]

# 중복 제거를 위해 고유한 매장 정보만 추출
offline_store_info = offline_store_info.drop_duplicates()

# 새로운 데이터프레임 확인
print(offline_store_info.head())

    Off.Store.Code Off.Store.Name2  Open_Store_Week0  Close_Store_Week0
0             D223        현대무역닥스골프          200701.0           202112.0
48            D230       현대무역헤지스남성          200701.0                NaN
50            D253        현대중동닥스골프          200701.0           202233.0
141           D265       신세계강남닥스골프          200701.0           202252.0
175           D275       신세계본점닥스골프          200701.0           202208.0

In [18]:
offline_sales.columns

Index(['Rep.brands', 'Off.Store.Code', 'Off.Store.Name2', 'Store_ID',
       'Wk_Year', 'Normal.Rollover.Class', 'Open_Store_Week0',
       'Close_Store_Week0', 'Usable.area', 'Address', 'lat', 'lon', 'ADM_CD',
       'TOT_REG_CD', 'City_Do.CD', 'City_Do.NM', 'Si_Gun_gu.CD',
       'Si_Gun_gu.NM', 'Eup_myeon_dong.CD', 'Eup_myeon_dong.NM', 'base_year',
       'to_in_001', 'to_in_002', 'Sales_Price', 'Sales_Actual', 'Qty'],
      dtype='object')

In [24]:
offline_column_info = {
    'Rep.brands': '대표 브랜드를 나타내는 칼럼으로, 예를 들어 "HG"는 헤지스골프 브랜드를 의미합니다.',
    'Off.Store.Code': '오프라인 매장의 코드를 나타내는 칼럼으로, 예를 들어 "D223"은 특정 매장을 식별하는 코드입니다.',
    'Off.Store.Name2': '오프라인 매장의 이름을 나타내는 칼럼으로, 예를 들어 "현대무역닥스골프"는 해당 매장의 이름을 의미합니다.',
    'Store_ID': '오프라인 매장을 고유하게 식별하는 ID를 나타내는 칼럼으로, 숫자로 구성됩니다.',
    'Wk_Year': '연도와 주차를 나타내는 칼럼으로, 예를 들어 "202031.0"은 2020년 31주차를 의미합니다.',
    'Normal.Rollover.Class': '제품의 상태를 나타내는 칼럼으로, "정상"은 정상 제품을 의미하며, 다른 값은 이월 상품 등을 나타낼 수 있습니다.',
    'Open_Store_Week0': '해당 매장이 오픈한 연도 및 주차를 나타내는 칼럼으로, 예를 들어 "200701.0"은 2007년 1주차에 오픈했음을 의미합니다.',
    'Close_Store_Week0': '해당 매장이 폐점한 연도 및 주차를 나타내는 칼럼으로, 예를 들어 "202112.0"은 2021년 12주차에 폐점했음을 의미합니다.',
    'Usable.area': '해당 매장의 사용 가능한 면적을 제곱미터(㎡) 단위로 나타내는 칼럼입니다.',
    'Address': '매장의 주소를 나타내는 칼럼으로, 예를 들어 "서울특별시 강남구 테헤란로 517현대백화점"처럼 상세 주소가 포함됩니다.',
    'lat': '매장의 위도를 나타내는 칼럼으로, GPS를 통해 매장의 위치를 나타냅니다.',
    'lon': '매장의 경도를 나타내는 칼럼으로, GPS를 통해 매장의 위치를 나타냅니다.',
    'ADM_CD': '행정 구역 코드를 나타내는 칼럼으로, 매장이 속한 행정 구역의 코드를 숫자로 표시합니다.',
    'TOT_REG_CD': '총 등록 코드를 나타내는 칼럼으로, 매장이 속한 행정 구역을 더 세분화한 코드를 의미합니다.',
    'City_Do.CD': '시 또는 도의 코드를 나타내는 칼럼으로, 예를 들어 "230"은 특정 시/도의 코드값을 의미합니다.',
    'City_Do.NM': '시 또는 도의 이름을 나타내는 칼럼으로, 예를 들어 "강남구"는 특정 행정 구역의 이름을 나타냅니다.',
    'Si_Gun_gu.CD': '시, 군, 구의 코드를 나타내는 칼럼으로, 예를 들어 "230"은 특정 시/군/구의 코드값을 의미합니다.',
    'Si_Gun_gu.NM': '시, 군, 구의 이름을 나타내는 칼럼으로, 예를 들어 "강남구"는 해당 지역의 이름을 나타냅니다.',
    'Eup_myeon_dong.CD': '읍, 면, 동의 코드를 나타내는 칼럼으로, 예를 들어 "580"은 특정 읍/면/동의 코드값을 의미합니다.',
    'Eup_myeon_dong.NM': '읍, 면, 동의 이름을 나타내는 칼럼으로, 예를 들어 "삼성1동"은 특정 읍/면/동의 이름을 나타냅니다.',
    'base_year': '기준 연도를 나타내는 칼럼으로, 데이터 수집 기준 연도를 나타냅니다. 예를 들어 "2020.0"은 2020년을 의미합니다.',
    'to_in_001': '매장 관련 지표 1을 나타내는 칼럼으로, 예를 들어 12175.0은 특정 지표 값을 나타냅니다.',
    'to_in_002': '매장 관련 지표 2를 나타내는 칼럼으로, 예를 들어 43.1은 특정 지표 값을 나타냅니다.',
    'Sales_Price': '가격 할인을 적용하기 전의 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.',
    'Sales_Actual': '할인을 적용한 실제 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.',
    'Qty': '판매된 제품의 수량을 나타내는 칼럼으로, 예를 들어 "33.0"은 33개의 제품이 판매되었음을 의미합니다.'
}

for idx, key in enumerate(offline_column_info):
  print(f"{key}: {offline_column_info[key]}")

Rep.brands: 대표 브랜드를 나타내는 칼럼으로, 예를 들어 "HG"는 헤지스골프 브랜드를 의미합니다.
Off.Store.Code: 오프라인 매장의 코드를 나타내는 칼럼으로, 예를 들어 "D223"은 특정 매장을 식별하는 코드입니다.
Off.Store.Name2: 오프라인 매장의 이름을 나타내는 칼럼으로, 예를 들어 "현대무역닥스골프"는 해당 매장의 이름을 의미합니다.
Store_ID: 오프라인 매장을 고유하게 식별하는 ID를 나타내는 칼럼으로, 숫자로 구성됩니다.
Wk_Year: 연도와 주차를 나타내는 칼럼으로, 예를 들어 "202031.0"은 2020년 31주차를 의미합니다.
Normal.Rollover.Class: 제품의 상태를 나타내는 칼럼으로, "정상"은 정상 제품을 의미하며, 다른 값은 이월 상품 등을 나타낼 수 있습니다.
Open_Store_Week0: 해당 매장이 오픈한 연도 및 주차를 나타내는 칼럼으로, 예를 들어 "200701.0"은 2007년 1주차에 오픈했음을 의미합니다.
Close_Store_Week0: 해당 매장이 폐점한 연도 및 주차를 나타내는 칼럼으로, 예를 들어 "202112.0"은 2021년 12주차에 폐점했음을 의미합니다.
Usable.area: 해당 매장의 사용 가능한 면적을 제곱미터(㎡) 단위로 나타내는 칼럼입니다.
Address: 매장의 주소를 나타내는 칼럼으로, 예를 들어 "서울특별시 강남구 테헤란로 517현대백화점"처럼 상세 주소가 포함됩니다.
lat: 매장의 위도를 나타내는 칼럼으로, GPS를 통해 매장의 위치를 나타냅니다.
lon: 매장의 경도를 나타내는 칼럼으로, GPS를 통해 매장의 위치를 나타냅니다.
ADM_CD: 행정 구역 코드를 나타내는 칼럼으로, 매장이 속한 행정 구역의 코드를 숫자로 표시합니다.
TOT_REG_CD: 총 등록 코드를 나타내는 칼럼으로, 매장이 속한 행정 구역을 더 세분화한 코드를 의미합니다.
City_Do.CD: 시 또는 도의 코드를 나타내는 칼럼으로, 예를 들어 "230"은 특정 시/도의 코드값을 의미합니다.
City_Do.NM: 시 또는 도의 이름을 나타내는 칼럼으로, 예를 들어 "강남구"는 특정 행정 구역의 이름을 나타냅니다.
Si_Gun_gu.CD: 시, 군, 구의 코드를 나타내는 칼럼으로, 예를 들어 "230"은 특정 시/군/구의 코드값을 의미합니다.
Si_Gun_gu.NM: 시, 군, 구의 이름을 나타내는 칼럼으로, 예를 들어 "강남구"는 해당 지역의 이름을 나타냅니다.
Eup_myeon_dong.CD: 읍, 면, 동의 코드를 나타내는 칼럼으로, 예를 들어 "580"은 특정 읍/면/동의 코드값을 의미합니다.
Eup_myeon_dong.NM: 읍, 면, 동의 이름을 나타내는 칼럼으로, 예를 들어 "삼성1동"은 특정 읍/면/동의 이름을 나타냅니다.
base_year: 기준 연도를 나타내는 칼럼으로, 데이터 수집 기준 연도를 나타냅니다. 예를 들어 "2020.0"은 2020년을 의미합니다.
to_in_001: 매장 관련 지표 1을 나타내는 칼럼으로, 예를 들어 12175.0은 특정 지표 값을 나타냅니다.
to_in_002: 매장 관련 지표 2를 나타내는 칼럼으로, 예를 들어 43.1은 특정 지표 값을 나타냅니다.
Sales_Price: 가격 할인을 적용하기 전의 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.
Sales_Actual: 할인을 적용한 실제 매출 금액을 나타내는 칼럼으로, 단위는 원입니다.
Qty: 판매된 제품의 수량을 나타내는 칼럼으로, 예를 들어 "33.0"은 33개의 제품이 판매되었음을 의미합니다.

## 형준 분석

In [53]:
offline_sales = pd.read_csv('./data/offline_offline_wkly_Hazzys_sales.csv')

len(offline_sales['Store_ID'].unique())

520

In [34]:
offline_sales.columns

Index(['Rep.brands', 'Off.Store.Code', 'Off.Store.Name2', 'Store_ID',
       'Wk_Year', 'Normal.Rollover.Class', 'Open_Store_Week0',
       'Close_Store_Week0', 'Usable.area', 'Address', 'lat', 'lon', 'ADM_CD',
       'TOT_REG_CD', 'City_Do.CD', 'City_Do.NM', 'Si_Gun_gu.CD',
       'Si_Gun_gu.NM', 'Eup_myeon_dong.CD', 'Eup_myeon_dong.NM', 'base_year',
       'to_in_001', 'to_in_002', 'Sales_Price', 'Sales_Actual', 'Qty'],
      dtype='object')

In [23]:
offline_sales.head(2)

,Rep.brands,Off.Store.Code,Off.Store.Name2,Store_ID,Wk_Year,Normal.Rollover.Class,Open_Store_Week0,Close_Store_Week0,Usable.area,Address,...,Si_Gun_gu.CD,Si_Gun_gu.NM,Eup_myeon_dong.CD,Eup_myeon_dong.NM,base_year,to_in_001,to_in_002,Sales_Price,Sales_Actual,Qty
0,HG,D223,현대무역닥스골프,367,202031.0,정상,200701.0,202112.0,39.67,서울특별시 강남구 테헤란로 517현대백화점,...,230,강남구,580,삼성1동,2020.0,12175.0,43.1,420.0909,330.5664,33.0
1,HG,D223,현대무역닥스골프,367,202032.0,정상,200701.0,202112.0,39.67,서울특별시 강남구 테헤란로 517현대백화점,...,230,강남구,580,삼성1동,2020.0,12175.0,43.1,944.1819,795.7872,84.0

In [42]:
print(offline_sales['Qty'].max())
print(offline_sales['Qty'].min())

8769.0
-758.0

In [31]:
import pandas as pd

# 오프라인 데이터 불러오기
offline_sales = pd.read_csv('./data/offline_offline_wkly_Hazzys_sales.csv')

# YYYYNN 형식의 데이터를 연도(YYYY)와 주차(NN)로 나누어 변환하는 함수
def week_to_date(week_num):
    year = int(week_num // 100)  # 앞 4자리 연도 추출
    week = int(week_num % 100)   # 뒤 2자리 주차 추출
    return pd.to_datetime(f'{year}-W{week}-1', format='%Y-W%W-%w')  # 주차의 첫번째 날로 변환

# 'Open_Store_Week0'과 'Close_Store_Week0' 변환
offline_sales['Open_Store_Week0'] = offline_sales['Open_Store_Week0'].apply(week_to_date)
offline_sales['Close_Store_Week0'] = offline_sales['Close_Store_Week0'].apply(
    lambda x: week_to_date(x) if not pd.isna(x) else pd.NaT  # NaN이면 NaT로 설정
)

# 매장별로 가장 이른 개업일(min)과 가장 늦은 폐업일(max) 선택
store_open_close = offline_sales.groupby('Store_ID').agg(
    open_date=('Open_Store_Week0', 'min'),
    close_date=('Close_Store_Week0', 'max'),
    lat=('lat', 'first'),
    lon=('lon', 'first')
).reset_index()

# 매장별 위도(lat)와 경도(lon)가 시간에 따라 변하는지 확인하는 함수
def check_location_change(store_id, df):
    store_data = df[df['Store_ID'] == store_id]
    lat_changes = store_data['lat'].nunique() > 1  # 위도 변화 여부
    lon_changes = store_data['lon'].nunique() > 1  # 경도 변화 여부
    return lat_changes or lon_changes

# 각 매장의 위치가 변동하는지 확인
store_ids_with_location_change = []

for store_id in store_open_close['Store_ID'].unique():
    if check_location_change(store_id, offline_sales):
        store_ids_with_location_change.append(store_id)

# 변동한 매장 출력
if store_ids_with_location_change:
    print(f"위치가 변동한 매장 ID: {store_ids_with_location_change}")
else:
    print("위치가 변동한 매장은 없습니다.")

위치가 변동한 매장은 없습니다.

In [21]:
offline_sales['Close_Store_Week0'].unique()

array([202112.,     nan, 202233., 202252., 202208., 202122., 202234.,
       202108., 201942., 202121., 202127., 202230., 202134., 202011.,
       202203., 202144., 202023., 202107., 202102., 202113., 202035.,
       202032., 202309., 201909., 202008., 202013., 202018., 201911.,
       202020., 201926., 202009., 201947., 202017., 202215., 202043.,
       201950., 202031., 201908., 202326., 202010., 202211., 202220.,
       202037., 201917., 202130., 202052., 202039., 201903., 202110.,
       202114., 201938., 202104., 201922., 201945., 201912., 201905.,
       201939., 201935., 202352., 201934., 202024., 201921., 202319.,
       202040., 202003., 201904., 202205., 202135., 202236., 202226.,
       201914., 202325., 202350., 201931., 202132., 201932., 202321.,
       201916., 201915., 201930., 201902., 202315., 202322., 202351.,
       202120., 201918., 202005., 202117., 202015., 202038., 202046.,
       202348., 202111., 202235., 202029., 202124., 202335., 202125.,
       202331., 202250., 202231., 202223., 202004., 202045., 202027.,
       202241., 202119., 202049., 202139., 202340., 202006., 202304.,
       202224., 202225., 202228., 202305., 202116., 202036., 201943.,
       202019., 202033., 202042., 202050., 202146., 202109., 202034.,
       202137., 202209., 202307., 201913.])

In [24]:
offline_sales['Open_Store_Week0'].unique()

array([200701., 200714., 200736., 200734., 200811., 200722., 200849.,
       200901., 200906., 200851., 200909., 200911., 200933., 200932.,
       200934., 200936., 201003., 201005., 201007., 201010., 201028.,
       201037., 201032., 201033., 201048., 201049., 201111., 201108.,
       201112., 201117., 201133., 201136., 201135., 201144., 201148.,
       201201., 201203., 201207., 201208., 201209., 201214., 201216.,
       201234., 201232., 201306., 201312., 201308., 201316., 201325.,
       201327., 201334., 201335., 201336., 201337., 201344., 201350.,
       201414., 201411., 201431., 201435., 201451., 201449., 201452.,
       201509., 201511., 201516., 201512., 201523., 201529., 201530.,
       201533., 201537., 201534., 201536., 201538., 201549., 201553.,
       201608., 201616., 201617., 201626., 201623., 201625., 201632.,
       201633., 201631., 201635., 201636., 201649., 201652., 201701.,
       201703., 201710., 201714., 201716., 201717., 201721., 201722.,
       201911., 201904., 201725., 201905., 201733., 201731., 201736.,
       201737., 201739., 201748., 201750., 201809., 201804., 201812.,
       201813., 201822., 201826., 201845., 201830., 201831., 201834.,
       201837., 201836., 201838., 201843., 201849., 201848., 201901.,
       201902., 201919., 201923., 201926., 202012., 201935., 201937.,
       201936., 201939., 201940., 201942., 201945., 202003., 202010.,
       202014., 202018., 202023., 202026., 202045., 202111., 201920.,
       202122., 202120., 202125., 202135., 202136., 202202., 202209.,
       202213., 202211., 202214., 202216., 202217., 202222., 202242.,
       202244., 202247., 202313., 202336., 200844., 200732., 200833.,
       200712., 200749., 200808., 200809., 200910., 200918., 200920.,
       200946., 200944., 201016., 201017., 201031., 201034., 201101.,
       201104., 201126., 201134., 201149., 201150., 201213., 201301.,
       201311., 201339., 201408., 201434., 201436., 201448., 201444.,
       201446., 201650., 201732., 202108., 202133., 202134., 202218.,
       202303., 202324., 202346., 200812., 200713., 200840., 200907.,
       200912., 200935., 200951., 201001., 201002., 201004., 202036.,
       201243., 201244., 202034., 201346., 201409., 201510., 201515.,
       201539., 201605., 201620., 201708., 201803., 201811., 201847.,
       201906., 201910., 201916., 201918., 202001., 202005., 202146.,
       202234., 202246., 202325., 202335., 201248., 201713., 202314.,
       202349.])

In [3]:
import pandas as pd
import plotly.graph_objs as go
from datetime import datetime

# 오프라인 데이터 불러오기
offline_sales = pd.read_csv('./data/offline_offline_wkly_Hazzys_sales.csv')

# YYYYNN 형식의 데이터를 연도(YYYY)와 주차(NN)로 나누어 변환하는 함수
def week_to_date(week_num):
    year = int(week_num // 100)  # 앞 4자리 연도 추출
    week = int(week_num % 100)   # 뒤 2자리 주차 추출
    return pd.to_datetime(f'{year}-W{week}-1', format='%Y-W%W-%w')  # 주차의 첫번째 날로 변환

# 'Open_Store_Week0'과 'Close_Store_Week0' 변환
offline_sales['Open_Store_Week0'] = offline_sales['Open_Store_Week0'].apply(week_to_date)
offline_sales['Close_Store_Week0'] = offline_sales['Close_Store_Week0'].apply(
    lambda x: week_to_date(x) if not pd.isna(x) else pd.NaT  # NaN이면 NaT로 설정
)

# 매장별로 가장 이른 개업일(min)과 가장 늦은 폐업일(max) 선택
store_open_close = offline_sales.groupby('Store_ID').agg(
    open_date=('Open_Store_Week0', 'min'),
    close_date=('Close_Store_Week0', 'max'),
    lat=('lat', 'first'),
    lon=('lon', 'first'),
    address=('Address', 'first'),  # 주소 추가
    store_name=('Off.Store.Name2', 'first')  # 매장 이름 추가
).reset_index()

# 명시적으로 할당하여 chained assignment 문제 해결
store_open_close['close_date'] = store_open_close['close_date'].fillna(pd.Timestamp.now())

# **월 단위**로 날짜를 변환하여 '연-월' 포맷으로 처리
store_open_close['open_month'] = store_open_close['open_date'].dt.strftime('%Y-%m')  # 개업 월
store_open_close['close_month'] = store_open_close['close_date'].dt.strftime('%Y-%m')  # 폐업 월

# 각 매장의 운영 상태에 따라 status 할당하는 함수
def assign_status(row, current_month):
    # 매장이 개업하기 전이면 '개업 전'
    if current_month < row['open_month']:
        return '개업 전'
    # 매장이 폐업한 이후에는 '폐업 전'
    elif current_month >= row['close_month']:
        return '폐업 전'
    # 매장이 운영 중일 때는 '개업 중'
    else:
        return '개업 중'

# 각 프레임별로 매장 상태(개점/폐점)를 **월 단위**로 처리하기 위해 날짜 범위 생성
min_date = store_open_close['open_date'].min()
max_date = store_open_close['close_date'].max()
month_range = pd.date_range(start=min_date, end=max_date, freq='ME')  # 월 단위로 설정 ('ME')

# 결과를 저장할 데이터프레임 생성
montly_df = pd.DataFrame()

# 한글 지도 시각화
fig = go.Figure()

# 각 월별로 매장 상태에 따라 마커 색상을 동적으로 할당
for current_date in month_range:
    current_month = current_date.strftime('%Y-%m')  # 현재 월 계산
    # 매장의 상태에 맞게 status 할당
    store_open_close['status'] = store_open_close.apply(assign_status, axis=1, current_month=current_month)
    
    # 개점 전 매장은 None으로 설정되므로, 이를 제외하고 필터링
    frame_data = store_open_close[store_open_close['status'].notna()].copy()

    # 결과 데이터프레임에 월별 상태 저장
    monthly_status = frame_data[['Store_ID', 'store_name', 'address', 'lat', 'lon', 'status']].copy()
    monthly_status['month'] = current_month
    montly_df = pd.concat([montly_df, monthly_status], ignore_index=True)

    # 운영 중 또는 폐점된 매장의 마커를 플롯에 추가 (고정된 크기로 설정)
    fig.add_trace(go.Scattermapbox(
        lat=frame_data['lat'],
        lon=frame_data['lon'],
        mode='markers',
        marker=dict(
            size=10,  # 고정된 크기
            color=frame_data['status'].map({'개업 중': 'blue', '폐업 전': 'red', '개업 전': 'white'}),
            opacity=0.8
        ),
        text=frame_data.apply(lambda row: f"매장: {row['store_name']}<br>주소: {row['address']}", axis=1),
        showlegend=False  # 날짜별로 추가된 trace는 범례에서 숨김 처리
    ))

# 한국 지도에 맞춰서 비율 조정 (세로로 길게)
fig.update_layout(
    mapbox=dict(
        center={"lat": 36.5, "lon": 127.8},  # 대한민국 중심 위치 설정
        zoom=6,  # 확대 정도 설정
        style="open-street-map"
    ),
    autosize=True,
    height=900,  # 세로로 더 길게 설정
    margin={"r": 0, "t": 0, "l": 0, "b": 0},  # 여백 제거
    showlegend=True  # 범례 표시
)

# 범례 추가 (세 가지 상태)
fig.update_traces(marker=dict(opacity=0.8), selector=dict(mode='markers'))
fig.add_trace(go.Scattermapbox(
    lat=[0], lon=[0],
    marker=dict(size=10, color='blue'),
    name="개업 중",
    showlegend=True
))
fig.add_trace(go.Scattermapbox(
    lat=[0], lon=[0],
    marker=dict(size=10, color='red'),
    name="폐업 전",
    showlegend=True
))
fig.add_trace(go.Scattermapbox(
    lat=[0], lon=[0],
    marker=dict(size=10, color='white'),
    name="개업 전",
    showlegend=True
))

# 애니메이션 재생을 위한 버튼 설정
fig.update_layout(
    updatemenus=[
        {
            "buttons": [
                {
                    "args": [None, {"frame": {"duration": 1000, "redraw": True}, "fromcurrent": True}],
                    "label": "재생",
                    "method": "animate"
                },
                {
                    "args": [[None], {"frame": {"duration": 0, "redraw": False}, "mode": "immediate", "transition": {"duration": 0}}],
                    "label": "일시정지",
                    "method": "animate"
                }
            ],
            "direction": "left",
            "pad": {"r": 10, "t": 87},
            "showactive": False,
            "type": "buttons",
            "x": 0.1,
            "xanchor": "right",
            "y": 0,
            "yanchor": "top"
        }
    ]
)

# 슬라이더로 날짜 범위를 선택할 수 있도록 설정 (월 단위 슬라이더)
fig.update_layout(sliders=[{
    "currentvalue": {"prefix": "날짜: "},
    "pad": {"b": 10},
    "steps": [{
        "args": [[str(date.strftime('%Y-%m'))]],
        "label": str(date.strftime('%Y-%m')),  # 월 단위 슬라이더
        "method": "animate"
    } for date in month_range]
}])

# Plotly fig를 HTML 파일로 저장
fig.write_html("store_animation_monthly_with_open_closed_stores_korean_map.html")

# 결과 데이터프레임을 CSV 파일로 저장
montly_df.to_csv("monthly_store_status.csv", index=False)

# 결과 데이터프레임 확인
print(montly_df.head())

# Store_ID 고유값 확인
print(f"Store ID 고유값 개수: {len(store_open_close['Store_ID'].unique())}")

   Store_ID store_name                           address        lat  \
0         1  롯데강남헤지스남성     서울특별시 강남구 도곡로 401롯데백화점 강남점 5층  37.496979
1         2  롯데건대헤지스남성  서울특별시 광진구 능동로 92롯데백화점 건대스타시티점 6층  37.539037
2         3  롯데관악헤지스남성     서울특별시 관악구 봉천로 209롯데백화점 관악점 4층  37.490495
3         4  롯데미아헤지스남성      서울특별시 강북구 도봉로 62롯데백화점 미아점 6층  37.614593
4         5  롯데본점헤지스남성       서울특별시 중구 남대문로 81롯데백화점 본점 6층  37.564730

          lon status    month
0  127.053255   개업 중  2007-01
1  127.071432   개업 전  2007-01
2  126.924982   개업 중  2007-01
3  127.030518   개업 중  2007-01
4  126.981730   개업 중  2007-01
Store ID 고유값 개수: 520

In [4]:
montly_df.head()

,Store_ID,store_name,address,lat,lon,status,month
0,1,롯데강남헤지스남성,서울특별시 강남구 도곡로 401롯데백화점 강남점 5층,37.496979,127.053255,개업 중,2007-01
1,2,롯데건대헤지스남성,서울특별시 광진구 능동로 92롯데백화점 건대스타시티점 6층,37.539037,127.071432,개업 전,2007-01
2,3,롯데관악헤지스남성,서울특별시 관악구 봉천로 209롯데백화점 관악점 4층,37.490495,126.924982,개업 중,2007-01
3,4,롯데미아헤지스남성,서울특별시 강북구 도봉로 62롯데백화점 미아점 6층,37.614593,127.030518,개업 중,2007-01
4,5,롯데본점헤지스남성,서울특별시 중구 남대문로 81롯데백화점 본점 6층,37.564730,126.981730,개업 중,2007-01

In [5]:
import pandas as pd
from datetime import datetime

# 오프라인 데이터 불러오기
offline_sales = pd.read_csv('./data/offline_offline_wkly_Hazzys_sales.csv')

# YYYYNN 형식의 데이터를 연도(YYYY)와 주차(NN)로 나누어 변환하는 함수
def week_to_date(week_num):
    year = int(week_num // 100)  # 앞 4자리 연도 추출
    week = int(week_num % 100)   # 뒤 2자리 주차 추출
    return pd.to_datetime(f'{year}-W{week}-1', format='%Y-W%W-%w')  # 주차의 첫번째 날로 변환

# 'Open_Store_Week0'과 'Close_Store_Week0' 변환
offline_sales['Open_Store_Week0'] = offline_sales['Open_Store_Week0'].apply(week_to_date)
offline_sales['Close_Store_Week0'] = offline_sales['Close_Store_Week0'].apply(
    lambda x: week_to_date(x) if not pd.isna(x) else pd.NaT  # NaN이면 NaT로 설정
)

# 매장별로 가장 이른 개업일(min)과 가장 늦은 폐업일(max) 선택
store_open_close = offline_sales.groupby('Store_ID').agg(
    open_date=('Open_Store_Week0', 'min'),
    close_date=('Close_Store_Week0', 'max'),
    lat=('lat', 'first'),
    lon=('lon', 'first'),
    address=('Address', 'first'),
    store_name=('Off.Store.Name2', 'first')
).reset_index()

# 명시적으로 할당하여 chained assignment 문제 해결
store_open_close['close_date'] = store_open_close['close_date'].fillna(pd.Timestamp.now())

# 주 단위로 날짜를 변환하여 'YYYY-WW' 포맷으로 처리
store_open_close['open_week'] = store_open_close['open_date'].dt.strftime('%Y-%W')
store_open_close['close_week'] = store_open_close['close_date'].dt.strftime('%Y-%W')

# 각 매장의 운영 상태에 따라 status 할당하는 함수
def assign_status(row, current_week):
    if current_week < row['open_week']:
        return '개업 전'
    elif current_week >= row['close_week']:
        return '폐업 전'
    else:
        return '개업 중'

# 각 프레임별로 매장 상태(개점/폐점)를 주 단위로 처리하기 위해 날짜 범위 생성
min_date = store_open_close['open_date'].min()
max_date = store_open_close['close_date'].max()
week_range = pd.date_range(start=min_date, end=max_date, freq='W')

# 결과를 저장할 데이터프레임 생성
weekly_df = pd.DataFrame()

# 각 주별로 매장 상태 계산
for current_date in week_range:
    current_week = current_date.strftime('%Y-%W')
    store_open_close['status'] = store_open_close.apply(assign_status, axis=1, current_week=current_week)
    
    frame_data = store_open_close[store_open_close['status'].notna()].copy()

    # 결과 데이터프레임에 주별 상태 저장
    weekly_status = frame_data[['Store_ID', 'store_name', 'address', 'lat', 'lon', 'status']].copy()
    weekly_status['week'] = current_week
    weekly_df = pd.concat([weekly_df, weekly_status], ignore_index=True)

# 결과 데이터프레임을 CSV 파일로 저장
weekly_df.to_csv("weekly_store_status.csv", index=False)

# 결과 데이터프레임 확인
print(weekly_df.head())

# Store_ID 고유값 확인
print(f"Store ID 고유값 개수: {len(store_open_close['Store_ID'].unique())}")

   Store_ID store_name                           address        lat  \
0         1  롯데강남헤지스남성     서울특별시 강남구 도곡로 401롯데백화점 강남점 5층  37.496979
1         2  롯데건대헤지스남성  서울특별시 광진구 능동로 92롯데백화점 건대스타시티점 6층  37.539037
2         3  롯데관악헤지스남성     서울특별시 관악구 봉천로 209롯데백화점 관악점 4층  37.490495
3         4  롯데미아헤지스남성      서울특별시 강북구 도봉로 62롯데백화점 미아점 6층  37.614593
4         5  롯데본점헤지스남성       서울특별시 중구 남대문로 81롯데백화점 본점 6층  37.564730

          lon status     week
0  127.053255   개업 중  2007-01
1  127.071432   개업 전  2007-01
2  126.924982   개업 중  2007-01
3  127.030518   개업 중  2007-01
4  126.981730   개업 중  2007-01
Store ID 고유값 개수: 520

In [9]:
offline_sales['Rep.brands'].unique()

array(['HG', 'HS', 'HY', 'HZ'], dtype=object)

In [6]:
offline_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173407 entries, 0 to 173406
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Rep.brands             173407 non-null  object
 1   Off.Store.Code         173407 non-null  object
 2   Off.Store.Name2        173407 non-null  object
 3   Store_ID               173407 non-null  int64
 4   Wk_Year                173407 non-null  float64
 5   Normal.Rollover.Class  173407 non-null  object
 6   Open_Store_Week0       173407 non-null  datetime64[ns]
 7   Close_Store_Week0      39299 non-null   datetime64[ns]
 8   Usable.area            173407 non-null  float64
 9   Address                173407 non-null  object
 10  lat                    173407 non-null  float64
 11  lon                    173407 non-null  float64
 12  ADM_CD                 173407 non-null  int64
 13  TOT_REG_CD             173407 non-null  int64
 14  City_Do.CD             173407 non-null  int64
 15  City_Do.NM             173407 non-null  object
 16  Si_Gun_gu.CD           173407 non-null  int64
 17  Si_Gun_gu.NM           173407 non-null  object
 18  Eup_myeon_dong.CD      173407 non-null  int64
 19  Eup_myeon_dong.NM      173407 non-null  object
 20  base_year              173407 non-null  float64
 21  to_in_001              173407 non-null  float64
 22  to_in_002              173407 non-null  float64
 23  Sales_Price            173407 non-null  float64
 24  Sales_Actual           173407 non-null  float64
 25  Qty                    173407 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(6), object(8)
memory usage: 34.4+ MB

In [7]:
offline_sales.describe()

,Store_ID,Wk_Year,Open_Store_Week0,Close_Store_Week0,Usable.area,lat,lon,ADM_CD,TOT_REG_CD,City_Do.CD,Si_Gun_gu.CD,Eup_myeon_dong.CD,base_year,to_in_001,to_in_002,Sales_Price,Sales_Actual,Qty
count,173407.000000,173407.000000,173407,39299,173407.000000,173407.000000,173407.000000,1.734070e+05,1.734070e+05,173407.000000,173407.000000,173407.000000,173407.0,173407.000000,173407.000000,173407.000000,173407.000000,173407.000000
mean,267.055851,202107.287941,2013-07-10 13:43:13.992168704,2021-11-10 23:05:15.397338112,204.624902,36.553205,127.503137,2.639476e+07,2.639476e+13,26.296764,97.406656,586.996234,2020.0,23798.334145,42.880233,825.867882,596.040598,49.305207
min,1.000000,201901.000000,2007-01-01 00:00:00,2019-01-14 00:00:00,0.000000,33.241290,126.383381,1.102052e+07,1.102052e+13,11.000000,10.000000,110.000000,2020.0,927.000000,32.600000,-8439.818200,-6973.519200,-758.000000
25%,87.000000,202001.000000,2009-03-02 00:00:00,2020-10-26 00:00:00,47.900000,35.561916,126.919360,2.109074e+07,2.109074e+13,21.000000,20.000000,540.000000,2020.0,10796.000000,39.900000,80.909100,54.535500,5.000000
50%,149.000000,202110.000000,2013-06-24 00:00:00,2021-08-23 00:00:00,89.000000,37.137425,127.108119,3.102376e+07,3.102376e+13,31.000000,50.000000,590.000000,2020.0,21318.000000,42.000000,406.363700,273.925400,24.000000
75%,432.000000,202230.000000,2017-06-19 00:00:00,2022-12-26 00:00:00,257.000000,37.513713,128.211668,3.304357e+07,3.304357e+13,33.000000,150.000000,670.000000,2020.0,31200.000000,45.300000,1056.181850,777.095400,60.000000
max,964.000000,202352.000000,2023-12-04 00:00:00,2023-12-25 00:00:00,1980.000000,38.201400,129.431326,3.902061e+07,3.902061e+13,39.000000,620.000000,900.000000,2020.0,126598.000000,58.500000,52876.363700,38971.377200,8769.000000
std,265.337772,143.752071,NaN,NaN,261.691594,1.131823,0.830890,9.403173e+06,9.403173e+12,9.426795,108.035576,141.324786,0.0,18005.652285,4.607385,1296.813201,928.447841,84.521705

In [8]:
offline_sales.isnull().sum()

Rep.brands                    0
Off.Store.Code                0
Off.Store.Name2               0
Store_ID                      0
Wk_Year                       0
Normal.Rollover.Class         0
Open_Store_Week0              0
Close_Store_Week0        134108
Usable.area                   0
Address                       0
lat                           0
lon                           0
ADM_CD                        0
TOT_REG_CD                    0
City_Do.CD                    0
City_Do.NM                    0
Si_Gun_gu.CD                  0
Si_Gun_gu.NM                  0
Eup_myeon_dong.CD             0
Eup_myeon_dong.NM             0
base_year                     0
to_in_001                     0
to_in_002                     0
Sales_Price                   0
Sales_Actual                  0
Qty                           0
dtype: int64

---

In [ ]:
import pandas as pd
import os
from pandas_profiling import ProfileReport
import time

# data 폴더 내의 모든 CSV 파일 목록 가져오기
data_folder = './data'
csv_files = [f for f in os.listdir(data_folder) if f.endswith('.csv')]

# 데이터프레임을 저장할 딕셔너리
dataframes = {}

# 각 CSV 파일을 개별적으로 데이터프레임으로 불러오기
for csv_file in csv_files:
    # 파일 이름에서 확장자 제거
    df_name = os.path.splitext(csv_file)[0]
    
    # CSV 파일 경로
    file_path = os.path.join(data_folder, csv_file)
    
    # 데이터프레임 생성 및 딕셔너리에 추가
    dataframes[df_name] = pd.read_csv(file_path)
    
    print(f"'{csv_file}'을(를) '{df_name}' 데이터프레임으로 불러왔습니다.")

# 불러온 데이터프레임 확인
print("\n불러온 데이터프레임 목록:")
for df_name, df in dataframes.items():
    print(f"- {df_name}: shape {df.shape}")

# 각 데이터프레임을 전역 변수로 설정
for df_name, df in dataframes.items():
    globals()[df_name] = df

# EDA 보고서를 저장할 디렉토리 생성
if not os.path.exists('./eda_reports'):
    os.makedirs('./eda_reports')

# 각 데이터프레임에 대해 EDA 보고서 생성
for df_name, df in dataframes.items():
    print(f"\n{df_name}에 대한 EDA 보고서를 생성 중입니다...")
    
    # 보고서 생성
    profile = ProfileReport(df, title=f"{df_name} Profiling Report", explorative=True)
    
    # 보고서를 HTML 파일로 저장
    output_file = f"./eda_reports/{df_name}_report.html"
    profile.to_file(output_file)
    
    print(f"{df_name}의 EDA 보고서가 {output_file}에 저장되었습니다.")
    
    # 시스템 부하를 줄이기 위해 잠시 대기
    time.sleep(1)

print("\nEDA 보고서 생성이 완료되었습니다. './eda_reports' 폴더에서 결과를 확인하세요.")

---

In [ ]:
# import os
# import pyreadr
# import pandas as pd

# def process_rdata(file_path):
#     # RData 파일 로드
#     data = pyreadr.read_r(file_path)
    
#     print(f"\n{file_path} 파일 내 데이터셋:")
#     for key in data.keys():
#         print(f"- {key}")
#         df = data[key]
#         # print(f"  행 수: {df.shape[0]}, 열 수: {df.shape[1]}")
#         # print(f"  컬럼: {', '.join(df.columns)}")
#         # print(f"  데이터 타입:\n{df.dtypes}")
#         # print("\n  처음 5행:")
#         # print(df.head())
#         # print("\n" + "="*50 + "\n")

#     return data

# # data 폴더가 없으면 생성
# if not os.path.exists("data"):
#     os.makedirs("data")

# # 오프라인 데이터 처리
# offline_data = process_rdata("./data/Wkly.Hazzys.Offline.RData")

# # 온라인 데이터 처리
# online_data = process_rdata("./data/Wkly.Hazzys.Online.RData")

# # CSV 파일로 저장하고 저장된 파일 이름 리스트 생성
# saved_files = []

# # 오프라인 데이터 저장
# for key, df in offline_data.items():
#     file_name = f"data/offline_{key}.csv"
#     df.to_csv(file_name, index=False)
#     saved_files.append(file_name)
#     # print(f"{key} 데이터를 {file_name}로 저장했습니다.")

# # 온라인 데이터 저장
# for key, df in online_data.items():
#     file_name = f"data/online_{key}.csv"
#     df.to_csv(file_name, index=False)
#     saved_files.append(file_name)
#     # print(f"{key} 데이터를 {file_name}로 저장했습니다.")

# # 저장된 CSV 파일들을 DataFrame으로 불러오기
# loaded_dataframes = {}

# for file_name in saved_files:
#     df_name = os.path.splitext(os.path.basename(file_name))[0]  # 파일 확장자 제거
#     loaded_dataframes[df_name] = pd.read_csv(file_name)
# #     print(f"{file_name}을(를) {df_name} DataFrame으로 불러왔습니다.")

# # # 불러온 DataFrame 확인
# # for df_name, df in loaded_dataframes.items():
# #     print(f"\n{df_name} DataFrame:")
# #     print(df.head())
# #     print("\n" + "="*50 + "\n")